<% if post.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h5><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h5>
    <hr>
    <ul>
      <% post.errors.full_messages.each do |error| %>
        <li><small><%= error %></li></small>
      <% end %>  
    </ul>
  </div>
<% end %>  

<%= form_with(model: post, html: { multipart: true }) do |form| %>
  <div class="mb-3" >
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control form-control-sm" %>
  </div>
  <div class="mb-3" >
    <%= form.label :summary, class: "form-label" %>
    <%= form.text_area :summary, class: "form-control form-control-sm"  %>
  </div>
  <div class="mb-3" >
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control form-control-sm rows=20"  %>
  </div>
  <div class="mb-3" >
    <%= form.file_field :image, class: "form-control form-control-sm rows=20"  %>
  </div>
  <div>
    <%= form.submit 'Save', class: "btn btn-primary btn-sm" %>
  </div>
<% end %>