<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h5><%= link_to post.title, post_path(post) %></h5>
      <small class="text-secondary">
        <b><%= post.created_at.to_date.strftime("%d %B, %Y") %></b>
      </small>
    </div>  
    <div class="card-text">
      <%= image_tag(post.image_url(:thumb), class: 'img img-thumbnail rounded float-start', style: 'margin-right: 5px') if post.image? %>
      <%= post.summary %>
    </div>
  </div>
  <div class="card-footer">
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge bg-warning text-dark"}.join(" ") %> 
  </div>
</div>
<br>