<% provide(:title, @post.title) %>
<h3><%= @post.title %></h3>

<div>
  <small class="text-secondary">
    <%= @post.created_at.to_date.strftime("%d %B, %Y") %>  
  </small>
</div>  
<div>
  <% if @post.category.present? %>
    <%= link_to @post.category.name, @post.category, class: "badge bg-info text-dark"%>
  <% end %>
  <%= raw @post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge bg-warning text-dark"}.join(" ") %> 
</div>

<br><br>
<%= image_tag(@post.image_url(:preview), class: 'img img-fluid img-thumbnail mx-auto d-block') if @post.image? %>

<p><%= @post.body %></p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary btn-sm" %>

<br><br>